.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9f9;
  font-family: 'Inter', Arial, sans-serif;
  line-height: 1.5;
  color: #2d2d2d;
}

.App > :last-child {
  margin-top: auto;
}

a, button {
  transition: all 0.3s ease;
}


button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 600;
}

.main-content {
  flex: 1;
  padding-bottom: 2rem;
}